.board {
  background: linear-gradient(60deg, var(--orange) 40%, var(--blue) 100%);
  display: grid;

  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(125px, 1fr));
  text-align: center;
  gap: 7px;
  align-self: center;
  height: 60vh;
  max-height: 60vh;
  min-height: 374px;

  width: 40vw;
  min-width: 614px;
  position: relative;
}

.board .item {
  display: grid;
  place-items: center;
  background-color: var(--black);
  position: relative;
}

.board .item img {
  width: 40%;
  display: none;
  animation: fadeIn 0.8s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 630px) {
  .board {
    background: linear-gradient(60deg, var(--orange) 40%, var(--blue) 100%);
    display: grid;

    grid-template-columns: repeat(3, minmax(120px, 1fr));
    grid-template-rows: repeat(3, minmax(80px, 1fr));
    text-align: center;
    gap: 7px;
    align-self: center;
    height: 60vh;
    max-height: 60vh;
    min-height: 374px;

    width: 40vw;
    min-width: 374px;
    position: relative;
  }
}

@media only screen and (max-width: 380px) {
  .board {
    display: none;
  }
}
